ion-card {
  margin: 6px 10px!important;
}

.item-card {
  border-left: 5px solid #ff8b26;padding: 10px 2px
}

.item-card-success {
  border-left: 5px solid #31887b;padding: 10px 2px
}

.item-icon {
  font-size: 14px;font-weight: 500
}

.item-prix {
  font-size: 14px;font-weight: 600
}

.item-etat {
  font-size: 11px;font-style: italic;float: right
}

.fw-500 {
  font-weight: 500
}

.fs-12 {
  font-size: 12px
}
