<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes historiques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-row class="ion-justify-content-center">

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card">
          <ion-col size="3">
            <div class="fw-500">Lundi</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 354</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Non payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card-success">
          <ion-col size="3">
            <div class="fw-500">Mardi</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 35</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card-success">
          <ion-col size="3">
            <div class="fw-500">Mercredi</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 35</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card-success">
          <ion-col size="3">
            <div class="fw-500">Jeudi</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 35</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card-success">
          <ion-col size="3">
            <div class="fw-500">Vendredi</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 35</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card-success">
          <ion-col size="3">
            <div class="fw-500">Samedi</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 35</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col size="12" class="">
      <ion-card>
        <ion-row  class="item-card-success">
          <ion-col size="3">
            <div class="fw-500">Dimanche</div>
          </ion-col>
          <ion-col size="2" class="ion-text-right">
            <div class="item-icon"> <ion-icon class="fs-12" name="eye-outline" color="1f-orange"></ion-icon> 35</div>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <div class="item-prix">2300 FCFA</div>
          </ion-col>
          <ion-col size="3">
            <ion-text class="item-etat">Payee</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-content>
