<ion-content class="back-login">

  <div style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)">
    <ion-list>
      <ion-item lines="none" class="ion-item-input">
        <!--<ion-label position="floating">Telephone</ion-label>-->
        <ion-input type="number" placeholder="Code confirmation ...">
        </ion-input>
      </ion-item>

      <div class="ion-text-center ion-margin-top">
        <ion-button shape="round" expand="full" color="1f-green" (click)="goV()">Continuer</ion-button>
      </div>
    </ion-list>
  </div>
</ion-content>

<div class="back-login-bottom"></div>
