<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon color="1f-orange" name="home-outline"></ion-icon>
      <ion-label color="1f-orange">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon color="1f-orange" name="search-outline"></ion-icon>
      <ion-label color="1f-orange">Recherche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon color="1f-orange" name="person-outline"></ion-icon>
      <ion-label color="1f-orange">Mon Compte</ion-label>
      <ion-badge color="1f-orange">6</ion-badge>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
