<ion-content class="back-login">

  <div style="margin-top: 106px">
    <ion-list>
      <ion-item>
        <!--<ion-label position="floating">Telephone</ion-label>-->
        <ion-input type="text" placeholder="Username ...">
        </ion-input>
      </ion-item>
      <div lines="none" class="ion-padding-horizontal" style="margin-top : 40px">
        <ion-button shape="round" color="1f-green">Macon</ion-button>
        <ion-button shape="round" fill="outline" color="1f-green">Menuisier</ion-button>
        <ion-button shape="round" fill="outline" color="1f-green">Danger</ion-button>
        <ion-button shape="round" fill="outline" color="1f-green">Primary</ion-button>
        <ion-button shape="round" fill="outline" color="1f-green">Secondary</ion-button>
        <ion-button shape="round" fill="outline" color="1f-green">Dark</ion-button>
        <ion-button shape="round" fill="outline" color="1f-green">Green</ion-button>
      </div>


    </ion-list>
  </div>
</ion-content>
<div class="ion-text-end ion-padding-horizontal" style="position: absolute;bottom: 20px;right: 0px">
  <ion-button shape="round" fill="clear" color="1f-green" (click)="goV()">
    Terminer &nbsp;
    <ion-icon name="arrow-forward-outline" color="1f-orange"></ion-icon>
  </ion-button>
</div>

<div class="back-login-bottom"></div>
