<ion-content fullscreen scroll-y="false">
  <ion-slides pager="false" #IonSlides>



    <ion-slide>
      <div class="slide">
        <img class="item-boarding-image-back" src="https://i.pinimg.com/236x/16/57/e1/1657e154e8c70d7c84985754019cb9e5.jpg"/>
        <img class="item-boarding-image" src="https://i.pinimg.com/236x/16/57/e1/1657e154e8c70d7c84985754019cb9e5.jpg"/>
      </div>

      <div class="item-boarding-btn ion-text-center" style="position: absolute;bottom: 30px;margin: 0 auto!important;left: 50%;transform: translateX(-50%);">
        <ion-button shape="round" color="1f-orange" size="large" slot="icon-only"><ion-icon name="share-social-outline"></ion-icon></ion-button>
        <ion-button shape="round" color="1f-green" size="large" slot="icon-only"><ion-icon name="cloud-upload-outline"></ion-icon></ion-button>
        <ion-button shape="round" color="dark" size="large" slot="icon-only"><ion-icon style="transform: rotate(180deg)" name="cloud-upload-outline"></ion-icon></ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img class="item-boarding-image-back" src="https://i.pinimg.com/236x/43/56/94/435694523af2732657db8ccbc524a521.jpg"/>
        <img class="item-boarding-image" src="https://i.pinimg.com/236x/43/56/94/435694523af2732657db8ccbc524a521.jpg"/>
      </div>

    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img class="item-boarding-image-back" src="https://i.pinimg.com/236x/a2/da/16/a2da16db049f14c2e695aa16771f298d.jpg"/>
        <img class="item-boarding-image" src="https://i.pinimg.com/236x/a2/da/16/a2da16db049f14c2e695aa16771f298d.jpg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img class="item-boarding-image-back" src="https://i.pinimg.com/236x/da/f9/e9/daf9e94475c94f2df0d3c8ec646b68b5.jpg"/>
        <img class="item-boarding-image" src="https://i.pinimg.com/236x/da/f9/e9/daf9e94475c94f2df0d3c8ec646b68b5.jpg"/>
      </div>

    </ion-slide>

  </ion-slides>

</ion-content>
