<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu
            contentId="main-content"
            type="overlay"
            id="myMenu"
    >
      <ion-header>
        <ion-toolbar color="1f-orange">
          <ion-title>1Flavue</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesMenu">
          <ion-item
                  routerDirection="root"
                  [routerLink]="[p.url]"
                  detail="false"
          >
            <ion-label class="item-label">{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
