<ion-header>
  <ion-toolbar>
    <ion-searchbar color="1f-orange"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <div lines="none" class="ion-padding-horizontal" style="margin-top : 40px">
    <ion-button shape="round" color="1f-green">Macon</ion-button>
    <ion-button shape="round" fill="outline" color="1f-green">Menuisier</ion-button>
    <ion-button shape="round" fill="outline" color="1f-green">Danger</ion-button>
    <ion-button shape="round" fill="outline" color="1f-green">Primary</ion-button>
    <ion-button shape="round" fill="outline" color="1f-green">Secondary</ion-button>
    <ion-button shape="round" fill="outline" color="1f-green">Dark</ion-button>
    <ion-button shape="round" fill="outline" color="1f-green">Green</ion-button>
  </div>

</ion-content>
