<ion-searchbar placeholder="Rechercher ..."></ion-searchbar>


<ion-content class="">

  <div lines="none" class="ion-padding-horizontal" style="margin-top : 50px">
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Macon</ion-button>
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Menuisier</ion-button>
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Danger</ion-button>
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Primary</ion-button>
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Secondary</ion-button>
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Dark</ion-button>
    <ion-button shape="round" fill="clear" color="1f-green" class="btn-outline">Green</ion-button>
  </div>

</ion-content>
