<ion-content [fullscreen]="true">

  <div id="slide-1">
    <div class="item-slide">
      <ion-button shape="round" color="1f-green" size="small">All</ion-button>
      <ion-button shape="round" color="light" size="small">Tissu</ion-button>
      <ion-button shape="round" color="light" size="small">Macon 1</ion-button>
      <ion-button shape="round" color="light" size="small">Macon 1</ion-button>
      <ion-button shape="round" color="light" size="small">Macon 1</ion-button>
      <ion-button shape="round" color="light" size="small">Macon 1</ion-button>
    </div>
  </div>



  <div class="row">
    <div class="column">
      <img src="https://i.pinimg.com/236x/43/56/94/435694523af2732657db8ccbc524a521.jpg" style="width:100%" (click)="goDetail()">
      <img src="https://i.pinimg.com/236x/16/57/e1/1657e154e8c70d7c84985754019cb9e5.jpg" style="width:100%" (click)="goDetail()">
      <img src="https://https://i.pinimg.com/236x/76/f0/51/76f051a218eeaaddf7f58ddf2d10d523.jpg" style="width:100%">
      <img src="https://i.pinimg.com/236x/da/f9/e9/daf9e94475c94f2df0d3c8ec646b68b5.jpg" style="width:100%">
      <img src="https://i.pinimg.com/236x/16/57/e1/1657e154e8c70d7c84985754019cb9e5.jpg" style="width:100%">
      <img src="https://i.pinimg.com/236x/03/b1/e3/03b1e3d7f32bc7aafebbaa65976563bc.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="https://i.pinimg.com/236x/a2/da/16/a2da16db049f14c2e695aa16771f298d.jpg" style="width:100%" (click)="goDetail()">
      <img src="https://i.pinimg.com/236x/da/f9/e9/daf9e94475c94f2df0d3c8ec646b68b5.jpg" style="width:100%" (click)="goDetail()">
      <img src="https://i.pinimg.com/236x/16/57/e1/1657e154e8c70d7c84985754019cb9e5.jpg" style="width:100%">
      <img src="https://i.pinimg.com/236x/a2/da/16/a2da16db049f14c2e695aa16771f298d.jpg" style="width:100%">
      <img src="https://i.pinimg.com/236x/da/f9/e9/daf9e94475c94f2df0d3c8ec646b68b5.jpg" style="width:100%">
      <img src="https://i.pinimg.com/236x/16/57/e1/1657e154e8c70d7c84985754019cb9e5.jpg" style="width:100%">
    </div>
  </div>


</ion-content>
